
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
div>div.col{
/*     background-color: bisque;
    border: 2px solid black; */

}

.up_Btn{
    width: 100%;
    margin: 1rem 0 0 0;
}
.textoError{
    width: 50%;
    margin: auto;
    font-size: x-small;
    text-align: center;
    color: red;
    border: solid 5px chocolate;
}
.textoCorrecto{
    font-size: x-small;
    text-align: center;
    color: rgb(71, 161, 73);

}
main>div.container{
    margin-top: 1rem;
}

.material-icons{
    margin-right: 1rem;
    margin-top: 0.5rem;
    color: gray;
}
div.row{
    margin-bottom: 0;
}
.switch label .lever {
    margin: 0 4px;
}